body {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}

/* Barra de navegación */
.bg-purple {
  background: #660066;
  position: initial;
}

.logo {
  font-size: 50px;
  color: #ffffff;
  font-family: 'Ceviche One', cursive;
  padding: 0;
  margin: 0;
}

.grid-block {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}


.img-me {
  width: 100%;
}

.container1-img {
  position: relative;
}

.yo-soy {
  text-align: center;
}

.texto1 {
  font-family: "Oswald", cursive;
  font-weight: 200;
  font-size: 72pt;
  color: #000000;
  border-bottom: 1px solid #ffffff;
}

.texto2 {
  font-family: "Oswald", cursive;
  font-weight: bold;
  font-size: 40pt;
  color: #000000;
}

.texto3 {
  font-family: "Oswald", cursive;
  font-weight: bold;
  font-size: 35pt;
  color: #ffffff;
  margin: 0;
}

.texto4 {
  font-family: "Oswald", cursive;
  font-weight: bold;
  font-size: 35pt;
  color: #000000;
  margin: 0;
}

.span,
.borde-n {
  margin: auto;
  margin-top: auto;
  border-bottom: 1px solid #000000;
  margin-top: 20px;
  width: 115pt;
  text-align: center;
}

.span,
.borde-b {
  margin: auto;
  margin-top: auto;
  border-bottom: 1px solid #ffffff;
  margin-top: 20px;
  width: 115pt;
  text-align: center;
}

.box {
  border: 3px solid #707070;
}

.boton {
  text-align: center;
}

.btn-lg {
  padding: .5rem 5rem;
}

footer i {
  margin: 00.25em 0.5em 0.25em;
}

.card-title {
  text-align: left;
}
  /* seccion #3 sobre mí */
.parra {
  width: 100%;
  margin: 50px;
  padding: 25px;
}

.parra1 {
  display: inline-block;
  text-align: justify;
  width: 44%;
  margin: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  color: #000000;
}

.txt {
  font-family: "Oswald", cursive;
  font-weight: bold;
  font-size: 32pt;
  margin: 20px 0;
  color: #000000;
}

/* Seccion #2 yo soy */
.texto {
  width: 100%;
  position: absolute;
  top: 65%;
  text-align: center;
  font-size: calc(2em + 1vw);
  color: #ffffff;
  font-family: "Oswald", cursive;
  font-weight: 300;
}

.nombre {
  width: 100%;
  position: absolute;
  top: 80%;
  text-align: center;
  font-size: calc(2em + 1vw);
  color: #ffffff;
  font-family: "Oswald", cursive;
  font-weight: bold;
}

.img1 {
  height: 100%;
  padding-bottom: 76%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

/* seccion # 3 Mi experiencia */

.parra2 {
  display: inline-block;
  text-align: justify;
  width: 100%;
  margin: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  color: #000000;
  }